<!-- Simple full-width example-->

<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Source</dt>
      <dd><%= @photo.source %></dd>

      <dt>Caption</dt>
      <dd><%= @photo.caption %></dd>

      <dt>Owner</dt>
      <dd><%= @photo.owner_id %></dd>

      <dt></dt>
      <dd>
        <div class="btn-group">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </dd>

      <dt>Comments</dt>
      <dd>
        <ul>
          <% @photo.comments.each do |comment| %>
            <li>
              <p><%= comment.content %> by <%= comment.commenter.email %></p>
              <p><%= time_ago_in_words(comment.created_at) %> ago</p>
            </li>
          <% end %>
        </ul>

        <form action="/create_comment">
          <input type="text" placeholder="content" name="content" class="form-control">
          <input type="text" placeholder="commenter_id" name="commenter_id" class="form-control">
          <input type="hidden" placeholder="photo_id" name="photo_id" class="form-control" value="<%= @photo.id %>">

          <input type="submit">
        </form>
      </dd>
    </dl>

  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Photo #<%= @photo.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <a class="thumbnail"><img src="<%= @photo.source %>"></a>
            <dl class="dl-horizontal">
              <dt>Caption</dt>
              <dd><%= @photo.caption %></dd>

              <dt>Owner</dt>
              <dd><%= @photo.owner_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/photos" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
            <% @photo.comments.each do |comment| %>
              <div class="media">
                <div class="media-body">
                  <h4 class="media-heading"><%= comment.commenter.email %></h4>
                  <p><%= comment.content %></p>
                  <small><%= time_ago_in_words(comment.created_at) %> ago</small>
                </div>
              </div>
            <% end %>
            <div class="media">
              <div class="media-body">
                <form action="/create_comment" class="form-inline">
                  <div class="form-group">
                  <input type="text" placeholder="content" name="content" class="form-control">

                  </div>
                  <div class="form-group">
                  <input type="text" placeholder="commenter_id" name="commenter_id" class="form-control">

                  </div>
                  <input type="hidden" placeholder="photo_id" name="photo_id" class="form-control" value="<%= @photo.id %>">

                  <input type="submit" class="btn btn-success">
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
